target/target/classes/muleflows/sftp-sfdc-ecomaraging-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sharepoint="http://www.mulesoft.org/schema/mule/sharepoint" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/sharepoint http://www.mulesoft.org/schema/mule/sharepoint/current/mule-sharepoint.xsd">
	
	<flow name="sftp-sfdc-ecomaraging-flow" doc:id="f4906995-50b0-4d4e-bb9d-febaa4406d0e" >
		 
		<sftp:list doc:name="List ECOMARAging-files" doc:id="ef6fffff-d073-4703-a2f6-5e23209c2b8d" config-ref="ECOM-SFTP_Config" directoryPath="/out">
			<reconnect frequency="3000" count="3" />
			<sftp:matcher timeUnit="HOURS" filenamePattern="ECOMARAging*"/>
		</sftp:list>
		<sftp:read doc:name="retrive ECOMARAging file" doc:id="a1b89f73-3cd2-4ce6-abaf-11b788d50b19" config-ref="ECOM-SFTP_Config" path="#[((payload.typedAttributes orderBy(($.timestamp))).fileName)[-1]]" outputMimeType="application/csv">
			<reconnect frequency="3000" count="3" />
		</sftp:read>
		<logger level="INFO" doc:name="flow start" doc:id="78c15f3f-7794-4b62-971a-7707b0cc97e7" message="flow start"/>
		<ee:transform doc:name="record variable" doc:id="48660272-9b5c-4690-b291-1a5128a46d60" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="pulledRecords" ><![CDATA[%dw 2.0
output application/xlsx header=true
---
{sheet1: payload}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="before sfdc query" doc:id="1d80e3da-78b4-4168-b4a1-2404ffeea010" message="before sfdc query #[sizeOf(payload)]" />
		<ee:transform doc:name="ForEachResponseAggregator" doc:id="dd5ce1e8-75d0-437b-afe9-840ffcea6cd5" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="sfRequest" ><![CDATA[[]]]></ee:set-variable>
				<ee:set-variable variableName="notMatched" ><![CDATA[[]]]></ee:set-variable>
				<ee:set-variable variableName="flowName" ><![CDATA[%dw 2.0
output application/java
---
attributes.fileName]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="2bcbe044-214e-45fd-9c98-a9377cf16af4" batchSize="2000">
			<ee:transform doc:name="Flatten Payload" doc:id="11510bcd-859b-427c-855c-2e9c3e17cded" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(payload)]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<salesforce:query-all doc:name="matching condition " doc:id="ba8c720a-63cb-4614-a7ed-bbb5ca3a8863" config-ref="Salesforce_Config" target="retriveSFID">
							<reconnect frequency="3000" count="3" />
					<salesforce:salesforce-query><![CDATA[select Id,SF_Account_Number__c from Account where SF_Account_Number__c in (':sfaccnum')]]></salesforce:salesforce-query>
							<salesforce:parameters><![CDATA[#[%dw 2.0					
output application/java
---
{
	"sfaccnum" :  (payload."Account Identifier" joinBy "','") 
}]]]></salesforce:parameters>
						</salesforce:query-all>
			
			<logger level="INFO" doc:name="After matching condition " doc:id="f64282ff-793d-42ee-87bd-6e2905324faa" message="after matching condition #[sizeOf(payload)]" />
			<choice doc:name="Choice" doc:id="75d9b248-3c69-4779-8e2a-b0d4de3bc6da">
					<when expression="#[(sizeOf(vars.retriveSFID)) &gt; 0]">
						<ee:transform doc:name="source-target transformation" doc:id="5cfb5963-f4b6-4b50-9246-422ac2730d4e">
			<ee:message>
			</ee:message>
						<ee:variables>
							<ee:set-variable variableName="notMatched"><![CDATA[%dw 2.0
output application/java
---
(vars.notMatched default []) ++ payload filter (!(vars.retriveSFID."SF_Account_Number__c" contains $.'Account Identifier' ))]]></ee:set-variable>
							<ee:set-variable variableName="sfRequest" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/csv lineSeparator="\n" , escape="" , quoteValues=true
---
(vars.sfRequest default []) ++ (payload filter (vars.retriveSFID."SF_Account_Number__c" contains $.'Account Identifier' ) map (payload01,index)-> {
    "Id": (vars.retriveSFID filter ($.SF_Account_Number__c == payload01."Account Identifier"))[0].Id,
    REPORT_Total_AR__c: (substringAfter(payload01."Total Outstanding","\$") as Number),
    REPORT_AR_0_30_Days__c: (substringAfter(payload01."1-30 Days","\$") as Number),
REPORT_AR_31_60_Days__c: (substringAfter(payload01."31-60 Days","\$") as Number),
REPORT_AR_61_90_Days__c: (substringAfter(payload01."61-90 Days","\$") as Number),
REPORT_AR_91_120_Days__c: (substringAfter(payload01."91-120 Days","\$") as Number),
REPORT_AR_121_150_Days__c: (substringAfter(payload01."121-150 Days","\$") as Number),
REPORT_AR_151_180_Days__c: (substringAfter(payload01."151-180 Days","\$") as Number),
REPORT_AR_180_Days__c: (substringAfter(payload01.">180 Days","\$") as Number),
REPORT_AR_Last_Report__c: payload01."Report Date" as Date{format:"M/d/yyyy"} as String {format: "yyyy-MM-dd"}  ++ "T00:00:00.000",
AR_Current__c:  (substringAfter(payload01.Current,"\$") as Number),
CFS_Account_Number_1__c: payload01."CFS Account Number",
(if((payload01."61-90 Days" replace "\$" with "") as Number >0) (Send_AR_Email__c: true) else (Send_AR_Email__c: null))
	
} 

)
]]></ee:set-variable>
						</ee:variables>
		</ee:transform>
					</when>
				</choice>
		</foreach>
		<async doc:name="Async" doc:id="e849601c-e2d3-4697-b927-58e148b8c0cc">
						<flow-ref doc:name="sendEmailForNotMatchedRecords" doc:id="99e45d58-e199-46df-a925-8fa14edaa92d" name="ecomsendEmailForNotMatchedRecords" />
					</async>
		<logger level="INFO" doc:name="before bulk update" doc:id="149a7ed3-1629-4d81-a2a8-4400976ff066" message="Before Bulk Update #[sizeOf(payload)]" />
		<salesforce:create-job-bulk-api-v2 objectType="Account" operation="update" doc:name="update ECOMARAging records" doc:id="77e116d8-b7f4-47fb-8b06-69705d10585c" config-ref="Salesforce_Config" >
			<reconnect frequency="3000" count="3" />
			<salesforce:s-objects ><![CDATA[#[vars.sfRequest]]]></salesforce:s-objects>
		</salesforce:create-job-bulk-api-v2>
		<logger level="INFO" doc:name="after sfdc update" doc:id="ea1fecfa-ed4a-4312-b296-1cb23ab98ea2" message="After Bulk Update #[(payload)]"/>
		
		<try doc:name="Try" doc:id="92902ecc-366f-4500-9481-04ccc0c5053a" >
			<sftp:write doc:name="Write" doc:id="9e81e77d-feec-40b1-a916-46a2fe8ee343" config-ref="Mulesoft-araging-archive-sftp-config" path='#["ECOMARAging/Ecom" ++ now() ++ ".xlsx"]'>
				<sftp:content ><![CDATA[#[vars.pulledRecords]]]></sftp:content>
			</sftp:write>
			<logger level="INFO" doc:name="Logger" doc:id="82ef4a3e-3235-4f4b-92c8-7b2317fe5841" message="after uploading the recored into sftp archive "/>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="6e680a4f-87bb-4fd5-b0c4-2bd77a793a23" >
					<logger level="INFO" doc:name="after sftp archive job failed" doc:id="f90b1b52-d23d-4290-8fb5-6492ea5f17b6" message="uploading the recored into sftp archive failed  " />
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="after sharepoint publish " doc:id="68726f1a-a880-43e1-afe5-c44399aec029" message="after sharepoint publish  #[sizeOf(payload)]"/>
		<async doc:name="Async" doc:id="96ce81fd-bd37-4e56-b477-1d4bec40d3a9">
			<flow-ref doc:name="success enmail notification " doc:id="53d468a5-00d4-4621-8d90-7d71d5fb6c8e" name="ecomsuccessNotificationEmail" />
		</async>
		<error-handler ref="api-error-handler" />
	</flow>
	<sub-flow name="ecomsuccessNotificationEmail" doc:id="69f0756e-07fd-4474-8515-024c0671e0c6" >
		<logger level="INFO" doc:name="before success email" doc:id="183eb8d3-da92-4b50-bc90-4f9aadc75756" message="before success email #[sizeOf(payload)]"/>
		<ee:transform doc:name="prepare succes email" doc:id="57de0f4e-f832-4470-9158-9f872c570de1">
					<ee:message />
					<ee:variables>
				<ee:set-variable variableName="emails" ><![CDATA[	 %dw 2.0
output text/plain
var correlationId = if (not isEmpty(vars.correlationId)) vars.correlationId else correlationId
var na = "N/A"
---

"<html><head><style>" ++ p("smtpemail.tableCss") ++ "</style></head>" ++
"<body>" ++
"<h2>This is an automated notification email generated by Mulesoft CFS AR Aging flow.  Please do not reply to this message.</h2>" ++

"<h3>Successful Flow Notification</h3><hr>" ++

"<p>Timestamp: " ++ (now() as DateTime >> "UTC") ++ "</p><hr>" ++
"<p>App Name: " ++ (app.name default na ) ++ "</p>" ++
"<p>Component Name: " ++ (vars.flowName default na ) ++ "</p>" ++
"<p>notMatchedRecords: " ++  (sizeOf(vars.notMatched default na)) ++ "</p>" ++
"<p>Correlation ID: " ++ correlationId ++ "</p><hr>" ++
"<p>Attached:"  ++ "Please find the attached for the archived record" ++ "</p><hr>" ++
"<p>Thank you:"  ++ "PHSS Business Integrations Services" ++ "</p>" ++
"</body></html>"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		<email:send doc:name="successEmailNotification " doc:id="cae9784a-df7c-4f11-b6e1-8fe5c64f591f" config-ref="AWS_Email_SMTP" fromAddress="arc_phss@redcross.org" subject="mulesoft  ${MULE_ENV} - ECOMARAging File successfully posted into salesforce and SFTP-Archive with transaction reference ids:" toAddresses="#[(p('smtpemail.distribution')) splitBy(&quot;,&quot;)]">
			<reconnect frequency="3000" count="3" />
			<email:body contentType="text/html" >
				<email:content ><![CDATA[#[vars.emails]]]></email:content>
			</email:body>
			<email:attachments ><![CDATA[#[%dw 2.0
output application/xlsx header=true
---
{"ECOMTSARAging Record.xlsx": vars.pulledRecords }]]]></email:attachments>
		</email:send>
		<logger level="INFO" doc:name="after success email" doc:id="e9ceaa37-f026-4a86-85ba-a8b9dee39902" message="before success email #[sizeOf(payload)]"/>
	</sub-flow>
	<sub-flow name="ecomsendEmailForNotMatchedRecords" doc:id="42f95b35-75a0-4430-9287-e38fe6c17638" >
		<choice doc:name="Choice" doc:id="f977c8ef-0271-4299-b3dd-5d6626a01980" >
			<when expression="#[sizeOf(vars.notMatched) &gt;0]">
				<ee:transform doc:name="prepare notmatched email" doc:id="46321aa0-23a8-4660-a8fe-515cdfbde013">
			<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
vars.notMatched]]></ee:set-payload>
					</ee:message>
			<ee:variables>
						<ee:set-variable variableName="emailnm" ><![CDATA[	 %dw 2.0
output text/plain
var correlationId = if (not isEmpty(vars.correlationId)) vars.correlationId else correlationId
var na = "N/A"
---

"<html><head><style>" ++ p("smtpemail.tableCss") ++ "</style></head>" ++
"<body>" ++
"<h2>This is an automated notification email generated by Mulesoft CFS AR Aging flow.  Please do not reply to this message.</h2>" ++

"<h3>Not Matched Records Notification</h3><hr>" ++

"<p>Timestamp: " ++ (now() as DateTime >> "UTC") ++ "</p><hr>" ++
"<p>App Name: " ++ (app.name default na ) ++ "</p>" ++
"<p>Component Name: " ++ (vars.flowName default na ) ++ "</p>" ++
"<p>notMatchedRecords: " ++  (sizeOf(vars.notMatched default na)) ++ "</p>" ++
"<p>Correlation ID: " ++ correlationId ++ "</p>" ++
"<p>Attached:"  ++ "Please find the attached for not matched records" ++ "</p><hr>" ++
"<p>Thank you:"  ++ "PHSS Business Integrations Services" ++ "</p>" ++
"</body></html>"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<email:send doc:name="not matched record notification " doc:id="d3b27e53-5420-4e6a-b3b0-15e6faf1528f" config-ref="AWS_Email_SMTP" fromAddress='arc_phss@redcross.org' subject="mulesoft  ${MULE_ENV} - ECOMARAging File integration Not-matched Records with transaction reference ids: ">
						<reconnect frequency="3000" count="3" />
					<email:to-addresses >
						<email:to-address value="phss_mulesoft_team@redcross.org" />
					</email:to-addresses>
					<email:body contentType="text/html">
						<email:content ><![CDATA[#[vars.emailnm]]]></email:content>
								</email:body>
					<email:attachments ><![CDATA[#[{"notMatchedRecords": payload}]]]></email:attachments>
					
</email:send>
			
</when>
		</choice>
	</sub-flow> 
</mule>
